<% include partials/header %>
    <h1>Add Customer</h1>
    <%if (errors != null) { %>
      <ul>
        <% for (let error of errors){ %>
          <li><%= error.msg %></li>
        <% } %>
      </ul>
    <% }%>
    <form method="post" action="/users/add">
      <label>Firstname</label><br>
      <input type="text" name="name">
      <br/>

      <label>Email</label><br>
      <input type="text" name="email">
      <br/>
      <br>
      <input type="submit" name="Submit" value="Submit">
    </form>
    <h1>Hello from EJS </h1>
    <h2><%= title %></h2>
    <ul>
      <% for (let user of users){ %>
        <li> Name: <%= user.name %> - <a href="#" class='deleteUser' data-id="<%= user._id %>"> Delete</a>
        <a href="#" class='updateUser' data-id="<%= user._id %>"> Update</a>
        </li>
        <li> Email <%= user.email %></li>
        <br>
      <% } %>
    </ul>

<% include partials/footer %>
